{{coords}}
<!-- {{d}} -->

<h1>{{myLatitude}} {{myLongitude}}</h1>
<h1>{{L}}</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th ng-click="sortBy('name')" class="text-muted">Name
            <span class="glyphicon glyphicon-chevron-up" ng-if="(sortType == 'name') && (!!sortReverse)"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-if="(sortType == 'name') && (!sortReverse)"></span>
        </th>
        <th ng-click="sortBy('username')" class="text-muted">UserName
            <span class="glyphicon glyphicon-chevron-up" ng-if="(sortType == 'username') && (!!sortReverse)"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-if="(sortType == 'username') && (!sortReverse)"></span>
        </th>
        <th ng-click="sortBy('email')" class="text-muted">Email
            <span class="glyphicon glyphicon-chevron-up" ng-if="(sortType == 'email') && (!!sortReverse)"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-if="(sortType == 'email') && (!sortReverse)"></span>
        </th>
        <th ng-click="sortBy('addrStreet')" class="text-muted">Address
            <span class="glyphicon glyphicon-chevron-up" ng-if="(sortType == 'addrStreet') && (!!sortReverse)"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-if="(sortType == 'addrStreet') && (!sortReverse)"></span>
        </th>
        <th>Phone</th>
        <th>Website</th>
        <th ng-click="sortBy('compName')" class="text-muted">Company
            <span class="glyphicon glyphicon-chevron-up" ng-if="(sortType == 'compName') && (!!sortReverse)"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-if="(sortType == 'compName') && (!sortReverse)"></span>
        </th>
        <th>Remove</th>
      </tr>
    </thead>
<!-- TBODY -->
    <tbody>
      <tr ng-repeat-start="item in users | orderBy:sortType:sortReverse | filter:searchUser">
        <td>
            {{$index+1}}
        </td>
        <!-- id -->
        <td ng-bind-template="№ {{item.id}}"></td>
        <!-- name -->
        <td>
            <span editable-text="item.name" ng-bind="item.name" e-required onbeforesave="checkSave(item, $data, 'name')"></span>
        </td>
        <!-- username -->
        <td>
            <span editable-text="item.username" ng-bind="item.username" e-required onbeforesave="checkSave(item, $data, 'username')"></span>
        </td>
        <!-- email -->
        <td>
            <span editable-text="item.email" ng-bind="item.email" e-required onbeforesave="checkSave(item, $data, 'email')"></span>
        </td>
        <!-- address -->
        <td>
            <p>
                <span class="glyphicon glyphicon-globe"></span>
                <span editable-text="item.address.city" ng-bind="item.address.city || 'empty'" onbeforesave="checkSave(item, $data, 'city')"></span>
            </p>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                <span editable-text="item.address.street" ng-bind="item.address.street || 'empty'" onbeforesave="checkSave(item, $data, 'street')"></span>
            </p>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                <span editable-text="item.address.suite" ng-bind="item.address.suite || 'empty'" onbeforesave="checkSave(item, $data, 'suite')"></span>
            </p>
            <p ng-cloak ng-if="!!item.address.long">
                <span class="glyphicon glyphicon-road"></span>
                <span ng-bind-template="{{item.address.long}} km"></span>
            </p>
        </td>
        <!-- phone -->
        <td>
            <span editable-text="item.phone" ng-bind="item.phone || 'empty'" onbeforesave="checkSave(item, $data, 'phone')"></span>
        </td>
        <!-- website -->
        <td>
            <span editable-text="item.website" ng-bind="item.website || 'empty'" onbeforesave="checkSave(item, $data, 'website')"></span>
        </td>
        <!-- company -->
        <td>
            <p>
                <span class="glyphicon glyphicon-briefcase"></span>
                <span editable-text="item.company.name" ng-bind="item.company.name" e-required onbeforesave="checkSave(item, $data, 'companyName')"></span>
            </p>
            <p>
                <span class="glyphicon glyphicon-flag"></span>
                <span editable-text="item.company.bs" ng-bind="item.company.bs || 'empty'" onbeforesave="checkSave(item, $data, 'bs')"></span>
            </p>
            <p>
                <span class="glyphicon glyphicon-volume-up"></span>
                <span editable-text="item.company.catchPhrase" ng-bind="item.company.catchPhrase || 'empty'" onbeforesave="checkSave(item, $data, 'catchPhrase')"></span>
            </p>
        </td>
        <td>
            <button class="btn btn-warning" ng-click="removeUser(item)"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
        <!-- last -->
      </tr>
      <tr ng-repeat-end ng-cloak ng-if="$last" ng-init="message()">
          
      </tr>
    </tbody>
  </table>



