<h3 style="display: inline-block;">Add new user</h3>
<button class="btn btn-success" style="position: relative; top: -5px; left: 10px" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-plus"></span> </button>

<!-- MODAL -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">

        <p>Fill the gaps.</p>
  
    <form name="userForm" novalidate>

       <p>*Name:
			<input class="form-control" name="myName" ng-model="newName" required>
			<span class="text-danger" ng-show="userForm.myName.$touched && userForm.myName.$invalid">The name is required.</span>
		</p>

		<p>*Username:
			<input ng-change="checkInput(newUsername)" class="form-control" name="username" ng-model="newUsername" ng-minlength="2" mg-maxlength="9" required>
			<span class="text-danger" ng-if="userForm.username.$touched && userForm.username.$invalid">The username is required and should be unique.</span>
			<span class="text-danger" ng-if="!!checkInp">The username is required and should be unique.</span>

		</p>

		<p>*Email:
			<input class="form-control" name="email" ng-model="newEmail" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>
			<span class="text-danger" ng-show="userForm.email.$touched && userForm.email.$invalid">The email is required.</span>
		</p>

		<p>*Phone:
			<input class="form-control" name="phone" ng-model="newPhone" ng-pattern="/\d{10}/" ng-minlength="10" ng-maxlength="10" required>
			<span class="text-danger" ng-show="userForm.phone.$touched && userForm.phone.$invalid">The phone is not valid.</span>
		</p>

		<p>*Company Name:
			<input class="form-control" name="compName" ng-model="newCompName" required>
			<span class="text-danger" ng-show="userForm.compName.$touched && userForm.compName.$invalid">The company name is required.</span>
		</p>

		<p>Street:
			<input class="form-control" name="street" ng-model="newAddrStreet" >
		</p>

		<p>Suite:
			<input class="form-control" name="suite" ng-model="newAddrSuite" >
		</p>

		<p>City:
			<input class="form-control" name="suite" ng-model="newAddrCity" >
		</p>

		<p>Zip Code:
			<input class="form-control" name="zipcode" ng-model="newAddrZipcode" >
		</p>

		<p>Website name:
			<input class="form-control" name="siteName" ng-model="newWebsite" ng-pattern="/^([a-z0-9][a-z0-9\-]*\.)+[a-z0-9][a-z0-9\-]*$/">
			<span class="text-danger" ng-show="userForm.siteName.$touched && userForm.siteName.$invalid">The WebSite name is not valid.</span>
		</p>

		<p>Company Catch Phrase:
			<input class="form-control" name="phrase" ng-model="newCompCPhrase" >
		</p>

		<p>Company BS:
			<input class="form-control" name="bs" ng-model="newCompBS" >
		</p>
        
        <div class="modal-footer">
        	<button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid" data-dismiss="modal" ng-click="addUser(newName, newUsername, newEmail, newAddrStreet, newAddrSuite, newAddrCity, newAddrZipcode, newPhone, newWebsite, newCompName, newCompCPhrase, newCompBS )">Add</button>
        </div>
        
    </form>

    </div>

  </div>
</div>